.cabeca{
    background-color: #64add8;
    padding: 10px;
}
body{
    margin: 0;
    background-color: #88bcda;
}
.property:before {
    content: "";
    position: relative;
    top: 3px;
    margin-right: 7px;
    display: inline-block;
    background-image: url("../properties.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px;
    width: 16px;
    height: 16px
}
table {
    border-collapse: collapse;
    width: 80%;
}

table, th, td {
    border: 1px solid black;
}

td {
    padding: 10px;
    text-align: left;
}
th {
    padding: 10px;
    text-align: center;
}
ul{
    list-style:none;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.property.convidados:before {
    margin-right: 10px;
    background-position: 0 0
}

.property.duracao:before {
    margin-left: 10px;
    background-position: 0 -17px
}

.property.forma:before {
    margin-left: 10px;
    background-position: 0 -34px
}

.property.dificuldade:before {
    margin-left: 10px;
    background-position: 0 -51px
}
.nav{
    display:inline-block;
    overflow: hidden;
}
.nav img{
    width: 15%;
    float: left;
}
.nav a{
    margin-left: 10px;
    margin-inline-end: 30px;
    margin-top: 45px;
    float:inline-end;
    color: #01257D;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
.nav a:hover{
    background-color: #01257D;
    color: white;
    border-radius: 20px;
}
.nav a:active{
    background-color: white;
    color: #01257D;
    transform: translateY(4px);

}
h1{
    text-align: center;
    text-decoration:wavy;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #01257D;
    margin-bottom: 60px;
}
h2{
    margin-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #01257D;
}
h3{
    margin-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.descrição{
    margin-inline-end: 30px;
}
.receita{
    margin-inline-end: 60px;
}
.checked {
    color: orange;
}
img{
    
}
.main-page{
    margin-left: 20px;
    display: flex;
    padding: 10px;
}
.images img{
    width: 300px;
    height: 200px;
}
.images{
    
}

   
