<!DOCTYPE html>
<html lang="pt">
<head>
    <!-- ***********IMPORTAÇÕES*************** -->
    <link href="styles/styles.css" rel="stylesheet" type="text/css"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receitas de Culinária</title>
</head>
<body>
    <!-- ***********NAVBAR*************** -->
    <header>
        <nav>
            <h2>TFRC <span>Foods</span></h2>
            <ul>
                <li><a href="html/destaque.html">Página do Site</a></li>
                <li><a href="skills">Página das Skills</a></li> 
            </ul>
        </nav>
        <br>
    </header>
    <main>
        <section>
            <h2>Âmbito do Projeto e Papel da Aplicação</h2>
            <p>O nosso projeto tem como objetivo o uso de DOM e aproveitamento de HTML5 para mostrar diversas receitas a partir de páginas como sobremesas,
               peixes e carnes que contêm algumas receitas realizadas com os respetivos alimentos, ou no caso das sobremesas para comer à sobremesa.
               Assim que se clica numa das receitas toda a página é gerada através de um ficheiro javascript que procura informações guardadas numa base de dados, 
               a explicar como a receita é realizada, os ingredientes que leva e até um rating de estrelas.
            </p>
        </section>
    </main>
</body>
</html>