<!DOCTYPE html>
<html lang="pt">
<head>
    <!-- ***********IMPORTAÇÕES*************** -->
    <link href="styles/styles.css" rel="stylesheet" type="text/css"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receitas de Culinária</title>
</head>
<body>
    <!-- ***********NAVBAR*************** -->
    <header>
        <nav>
            <h2>TFRC <span>Foods</span></h2>
            <ul>
                <li><a href="html/destaque.html">Página do Site</a></li>
                <li><a href="/">Página Principal</a></li> 
            </ul>
        </nav>
        <br>
    </header>
    <main>
        <section>
            <h2>Equipa e Skills</h2>
            <p>A nossa equipa é constituída pelo aluno Rodrigo Costa nº 202300904 e Tomás Ferreira nº 202201121.</p>
            <p>As skills que o aluno Rodrigo trouxe para o projeto foram a modificação de scripts, templates em EJS e criação de tabelas e inserção de dados na base de dados.</p>
            <p>As skills que o aluno Tomás trouxe para o projeto foram a conexão à base de dados e adição dos endpoints para a utilização de REST e AJAX.</p>
        </section>
    </main>
</body>
</html>